@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Arvo', serif;
    display: grid;
    grid-template-rows: 1fr 5fr;
    background-color:rgb(165, 204, 204);
    color: white;
}

header {
    display: flex;
    justify-content: center;
    gap: 25px;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 4rem;
    margin-top: 3rem;
    margin-bottom: 0;
    font-weight: bold;
    color: rgb(247, 240, 33);
    text-shadow: -2px 2px black;
    text-align: center;
}

#lions {
    color: yellow;
}

#tigers {
    color: orange;
}

#bears {
    color: blue;
}

h2 {
    font-size: 2rem;
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
}

#resultText {
    font-size: 18px;
    color: rgb(7, 7, 80);
}

.winner {
    font-size: 3rem;
    width: 60%;
    font-weight: bold;
    text-align: center;
    color: rgb(78, 76, 76);
}

#winner {
    height: 50px;
}

.side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 7px;
    padding-top: 4rem;
}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-left: 10px solid orange;
    /* border-radius: 20px; */
    padding: 20px;
    height: 40%;
    width: 60%;
    gap: 40px;
    background-size: 8rem;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(images/question-mark.png)
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.selection {
    border-radius: 50%;
    border: none;
    box-shadow: -2px 2px 5px grey;
    height: 7rem;
    width: 7rem;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    background-color: white;
}

.lost {
    background-color: rgb(173, 75, 75);
}

.won {
    background-color: yellow;
}

.selection:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#rock {
    background-image: url(images/lion.png);

}

#paper {
    background-image: url(images/tiger.png);
}

#scissors {
    background-image: url(images/bear.png);
}

.selectionText {
    color: white;
}

.selection:active {
    transform: translate(2px, 2px);
}

.score {
    display: flex;
    justify-content: center;
}

#middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10rem;
}

.scoreHeader {
    /* color: blue; */
    /* text-shadow: -2px 2px black; */
    font-size: 2rem;
}

#footer {
    display: flex;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
}

.footerText {
    font-size: 14px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}