
body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
}

#rightSide {
    background-image: url(images/seashells.jpg);
    background-size: cover;
    width: 20%;
}

header {
    display: flex;
    justify-content: center;
}

#headerText {
    font-family: 'Permanent Marker', cursive;
    font-size: 75px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(247, 240, 33);
    text-shadow: 2px 2px black;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 40px;
    flex-grow: 1;
    background-color: rgb(250, 204, 218);
}

h1 {
    text-align: center;
    font-size: 4rem;
    color: black;
    font-weight: normal;
}

h2 {
    color: black;
}

main {
    margin-top: 30px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#resultText {
    font-size: 18px;
    color: rgb(7, 7, 80);
}

.winner {
    font-size: 3rem;
    width: 60%;
    font-weight: bold;
    text-align: center;
    color: rgb(78, 76, 76);
}

.selection {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    background-color: beige;
    padding: 12px;
    width: 150px;
    height: 150px;
    box-shadow: 2px 2px 5px grey;
}

.selectionText {
    font-size: 78px;
    font-weight: bold;
    color: grey;
    padding-bottom: 15px;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.lost {
    background-color: rgb(173, 75, 75);
}

.won {
    background-color: yellow;
}

button:hover {
    cursor: pointer;
    background-color: grey;
    box-shadow: 2px 0px 5px grey, 0px 2px 5px grey, -2px 0px 5px grey, 0px -2px 5px grey;
}

#rock {
    background-image: url(images/rock_texture.jpg);
}

#paper {
    background-image: url(images/paper_texture.jpg);
}

#scissors {
    background-image: url(images/scissors_texture.jpg);
}

.selectionText {
    color: white;
}

button:active {
    transform: translate(5px, 5px);
}

#score {
    display: flex;
    justify-content: center;
}

#results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

#scoreHeader {
    color: rgb(78, 76, 76);
    font-size: 3rem;
}

#footer {
    display: flex;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
}

.footerText {
    font-size: 14px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}